<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1><span class="under">Past Medical History</span></h1>
  past_medical_histories_path
</div>
  <!-- <div class="container-head-content col-sm-12 col-md-12 col-lg-12"> -->
    <div class="container-main col-sm-12 col-md-12 col-lg-12">
      <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
        <div class="wrapper-bg-form col-md-6 col-md-offset-3">

        <% if notice.nil? == false %>
        <div class="alert alert-success" role="alert">
        	<div class="container">
        		<div class="alert-icon">
        			<i class="now-ui-icons ui-2_like"></i>
        		</div>
        		<strong>Well done!</strong> Your registration has been successfully compleated.
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        				<span aria-hidden="true">
        				<i class="now-ui-icons ui-1_simple-remove"></i>
        			</span>
        		</button>
        	</div>
        </div>
        <% end %>

        <span class="badge badge-info">Your Past Medical History</span>
          <div class="blockquote ">

            <% if @past_medical_history.nil? %>
              <h4>Please register your past medical history info </h4>
            <% else %>

              <div class= "form-group" >
                <strong> ICD code </strong>
                <div class="items_arrange">
                  <%= @past_medical_history.icd_code %>
                </div>
              </div>

              <div class= "form-group" >
                <strong> Have you ever had brain disease in the past? </strong>
                <div class="items_arrange">
                  <% if @past_medical_history.brain_disease_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.brain_disease_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong> Have you ever had heart disease in the past? </strong>
                <div class="items_arrange">
                  <% if @past_medical_history.heart_disease_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.heart_disease_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong> Have you ever had surgery in the past? </strong>
                <div class="items_arrange">
                  <% if @past_medical_history.surgery_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.surgery_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong> Have you ever been hospitalized in the past? </strong>
                <div class="items_arrange">
                  <% if @past_medical_history.hospitalized_in_the_past == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.hospitalized_in_the_past == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>

              <div class= "form-group" >
                <strong> Are you attending to a hospital now? </strong>
                <div class="items_arrange">
                  <% if @past_medical_history.attending_to_a_hospital_now == true %>
                    <%= "Yes" %>
                  <% else @past_medical_history.attending_to_a_hospital_now == false %>
                    <%= "No" %>
                  <% end %>
                </div>
              </div>


            <% end %>

          </div>

          <% if current_user.background.past_medical_history.nil? == true %>
            <%=  link_to "Register", new_past_medical_history_path, class:"btn btn-info" %>
          <% else %>
            <%= link_to "Edit", edit_past_medical_history_path(@past_medical_history), class:"btn btn-info" %>
            <%= link_to "Delete", past_medical_history_path(@past_medical_history), class:"btn btn-default", method: :delete, data:{confirm:"Are you sure to delete?"}%>
          <% end %>

        </div>
      </div>
    </div>
    <div class="container-main-last col-sm-12 col-md-12 col-lg-12">
    </div>
