<div class="container">
  <%= form_for(@background) do |f| %>


  <div class="wrapper-bg-form col-md-4 col-md-offset-4">
  <div class="blockquote ">

    <div class= "form-group" >
      <%= f.label :Name %>

      <div class="items_arrange">
        <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Age %>
      <div class="items_arrange">
        <%= f.text_field :age, class:"form-control", placeholder:"Age" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Sex %>
      <div class="items_arrange">
      <%= f.text_field :sex, class:"form-control", placeholder:"Sex" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Country %>
      <div class="items_arrange">
        <%= f.text_field :country, class:"form-control", placeholder:"Country" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Occupation %>
      <div class="items_arrange">
        <%= f.text_field :occupation, class:"form-control", placeholder:"Occupation" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Religion %>
      <div class="items_arrange">
        <%= f.text_field :religion, class:"form-control", placeholder:"Religion" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Living_will %>
      <div class="items_arrange">
        <%= f.text_field :living_will, class:"form-control", placeholder:"Living_will" %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :Notes %>
        <div class="items_arrange">
          <%= f.text_field :notes, class:"form-control", placeholder:"Notes" %>
        </div>
    </div>

  </div>

      <div class="wrapper-bg-form-submit col-md-4 col-md-offset-4">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>

  </div>

  <% end %>

</div>
