<div class="container-head col-sm-12 col-md-12 col-lg-12">
  <h1><span class="under">Background info</span></h1>
  <p class="explanations ">
     Please register your background infomation to communicate doctors easier.
     <br> If there is something you would like to write down regarding your background,
     <br> Please write it down at Notes.
  </p>

</div>
<div class="container-main col-sm-12 col-md-12 col-lg-12">
  <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
    <div class="wrapper-bg-form col-md-6 col-md-offset-3">

    <% if notice.nil? == false %>
    <div class="alert alert-success" role="alert">
    	<div class="container">
    		<div class="alert-icon">
    			<i class="now-ui-icons ui-2_like"></i>
    		</div>
    		<strong>Well done!</strong> Your registration has been successfully compleated.
    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">
    				<i class="now-ui-icons ui-1_simple-remove"></i>
    			</span>
    		</button>
    	</div>
    </div>
    <% end %>

    <span class="badge badge-info">Your background info</span>
      <div class="blockquote ">

        <% if @background.nil? %>
          <h4>Please register your background info </h4>
        <% else %>

          <div class= "form-group" >
            <strong> Name </strong>
            <div class="items_arrange">
              <%= @background.name %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Age </strong>
            <div class="items_arrange">
              <%= @background.age %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Sex </strong>
            <div class="items_arrange">
              <%= @background.sex %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Country </strong>
            <div class="items_arrange">
              <%= @background.country %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Occupation </strong>
            <div class="items_arrange">
              <%= @background.occupation %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Religion </strong>
            <div class="items_arrange">
              <%= @background.religion %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Living will </strong>
            <div class="items_arrange">
              <%= @background.living_will %>
            </div>
          </div>
          <div class= "form-group" >
            <strong> Notes </strong>
            <div class="items_arrange">
              <%= @background.notes %>
            </div>
          </div>
        <% end %>

      </div>

    <!-- ログインユーザの登録状況により表示画面を変更 -->
    <% if current_user.background.nil? == true %>
      <%= link_to "Register", new_background_path(@background), class:"btn btn-info"%>
    <% else %>
      <%= link_to "Edit", edit_background_path(@background), class:"btn btn-info" %>
      <%= link_to "Delete", background_path(@background), method: :delete, class:"btn btn-default" %>
    <% end %>

    </div>
  </div>
</div>
  <!-- </div> -->

<% if @background.nil? %>
<div class="container-main col-sm-12 col-md-12 col-lg-12">
  <h1><span class="under">Medicines</span></h1>
  <p class="explanations ">
     Please add Medicines you have taken.
  </p>
  <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
    <div class="wrapper-bg-form col-md-6 col-md-offset-3">
      <h4>Please register your background info first </h4>
    </div>
  </div>
</div>
<% else %>
  <div class="container-main col-sm-12 col-md-12 col-lg-12">
    <h1><span class="under">Medicines</span></h1>
    <p class="explanations ">
       Please add Medicines you have taken.
    </p>
    <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
      <div class="wrapper-bg-form col-md-6 col-md-offset-3">
      <div id="medicines_area">
        <%= render partial: 'medicines/index', locals: {background: @background, medicines: @medicines} %>
      </div>
        <%= render partial: 'medicines/form', locals: {background: @background, medicine: @medicine} %>
      </div>
    </div>
  </div>
<% end %>


<% if @background.nil? %>
<div class="container-main-last col-sm-12 col-md-12 col-lg-12">
  <h1><span class="under">Allergies</span></h1>
  <p class="explanations ">
     Please add Allergies you have.
  </p>
  <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
    <div class="wrapper-bg-form col-md-6 col-md-offset-3">
      <h4>Please register your background info first </h4>
    </div>
  </div>
</div>

<% else %>
  <div class="container-main-last col-sm-12 col-md-12 col-lg-12">
    <h1><span class="under">Allergies</span></h1>
    <p class="explanations ">
       Please add Allergies you have.
    </p>
    <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
      <div class="wrapper-bg-form col-md-6 col-md-offset-3">
      <div id="allergies_area">
        <%= render partial: 'allergies/index', locals: {background: @background, allergies: @allergies} %>
      </div>
        <%= render partial: 'allergies/form', locals: {background: @background, allergy: @allergy} %>
      </div>
    </div>
  </div>
<% end %>
