<div class="container-main col-sm-12 col-md-12 col-lg-12">
  <div class="container-main-content col-sm-12 col-md-12 col-lg-12">
  <div class="wrapper-bg-form col-md-6 col-md-offset-3">

    <%= form_for @review do |f| %>
    <% if @review.errors.any? %>
      <div id= "error_explanation">
        <h2 class= "text-danger"><%= @review.errors.count %> errors have been detected</h2>
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li class= "text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>




    <table class="table table-striped">
        <tr>
          <!-- <th>General</th> -->
          <!-- <th>項目2</th> -->
          <!-- <th>項目3</th> -->
        </tr>

        <tr>
          <td>
            <div class= "form-group" >
            <%= f.label :Weight_loss_or_gain %>
            <%= f.check_box :General_Weight_loss_or_gain, class:"form-control" %>
            </div>
          </td>
        </tr>

      </table>





    <div class="wrapper-bg-form-submit">
      <%= link_to "Back to your Background info", backgrounds_path, class:"btn btn-neutral" %>
      <%= f.submit 'Register', class: 'btn btn-primary' %>
    </div>

    <% end %>

  </div>
  </div>
</div>


<!-- <div class="items_arrange">
</div> -->
